<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>

  <!-- Include the search form -->
  <%- include("searchForm") %>

  <ul>
    <% if (results.length > 0) { %>
      <% results.forEach(user => { %>
        <li>
          ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>, 
          Email: <%= user.email %>, Age: <%= user.age || "N/A" %>, Bio: <%= user.bio || "N/A" %>
        </li>
      <% }); %>
    <% } else { %>
      <li>No users found.</li>
    <% } %>
  </ul>

  <a href="/">Back to home</a>
</body>
</html>